/*Reset*/
*{
    margin:0; /*margem do body zerada*/
    padding:0; /*espaço interno do body zerado*/
}
.cabecalho{
    background-color: rgb(7, 97, 47);
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

ul{
    display:flex;
    justify-content: space-between;
}
.cabecalho-item-lista{
    padding:15px;
    list-style-type: none;
}
